.text-color-blue {
    color: #112F53;
}

.text-color-orange {
    color: #F77927;
}

.bg-color-blue {
    background-color: #112F53;
}

.bg-color-orange {
    background-color: #F77927;
}

.navbar {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

/* .image-box {
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
} */



