.text-color-blue {
    color: #112F53;
}

.text-color-orange {
    color: #F77927;
}

.bg-color-blue {
    background-color: #112F53;
}

.bg-color-orange {
    background-color: #F77927;
}

.navbar {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

#servicesDropdown-menu:hover {
    background-color: #112F53;
    color: white;
}

.hero-section {
      background: url('./images/Data-management-hero-img.jpg') no-repeat center center;
      background-size: cover;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* position: relative; */
      color: white;
    }

    .hero-content h1 {
      font-size: 3rem;
      font-weight: 700;
    }

body {
    overflow-x: hidden;
}