.text-color-blue {
  color: #112F53;
}

.text-color-orange {
  color: #F77927;
}

.bg-color-blue {
  background-color: #112F53;
}

.bg-color-orange {
  background-color: #F77927;
}

.navbar {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

#servicesDropdown-menu:hover {
    background-color: #112F53;
    color: white;
}
.hero-section {
      background: url('./images/SAP-implementation-hero-img.jpg') no-repeat center center;
      background-size: cover;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: white;
    }

    .hero-content h1 {
      font-size: 3rem;
      font-weight: 700;
    }

    

    .hero-overlay {
      background-color: rgba(0, 0, 0, 0.6); 
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .hero-content {
      position: relative;
      z-index: 1;
      text-align: center;
    }


.circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 15px;
  font-size: 0.9rem;
  font-weight: 500;
}

.circle-blue {
  background-color: #0a2a66;
}

.circle-orange {
  background-color: #f37324;
}

.circle-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 40px 0;
}
